Name=Aurowaita
Comment=Un tema inspirado en Adwaita
X-KDE-PluginInfo-Name=Aurowaita
X-KDE-PluginInfo-Author=Sabaneko-run
X-KDE-PluginInfo-Email=sabaneko.run@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv3
