Name=AurowaitaDark
Comment=An Aurorae theme inspired in Adwaita
X-KDE-PluginInfo-Name=AurowaitaDark
X-KDE-PluginInfo-Author=Sabaneko-run
X-KDE-PluginInfo-Email=sabaneko.run@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv3
